body {
  background-color: black;
  color: #ff938580;
}

a, a:hover { 
  text-decoration-color: #ff938580; 
}

h1 {
  color: white;
}

h2, em {
  color:rgb(255, 147, 133);
}

em {
  font-weight: bold;
}

.backButton::after {
  background-color: rgb(255, 147, 133);
  color: black;
}
