h1, em { 
  color:#fdaae3; 
}

a, a:hover { 
  text-decoration-color: #fdaae3;
}

.galleryImage {
  width:  250px;
  height: 250px;
}

.willWorkForImage {
  width: 382px;
  height: 580px;
  max-width: 45%;
}