:root {
  --transitionDuration: 0.5s;
  --transitionEase: ease;
}

@font-face {
  font-family: spaceRegular;
  src: url(fonts/SpaceMono-Regular.ttf);
}
/*@font-face {
  font-family: spaceBold;
  src: url(fonts/SpaceMono-Bold.ttf);
}*/
@font-face {
  font-family: spaceBoldItalic;
  src: url(fonts/SpaceMono-BoldItalic.ttf);
}

body {
  margin: 0;
  padding: 30px;
  color: rgba(0, 0, 0, 0.8);
  font-family: spaceRegular;
  letter-spacing: 1px;
}

h1 {
  font-family: spaceRegular;
  color: black;
}

video, section {
  margin-bottom: 30px;
  width: 1024px;
  max-width: 100%;
}

em {
  font-family: spaceBoldItalic;
}
 
