body {
  background-color: rgb(20, 20, 20);
  color: rgb(120, 120, 120);
}

h1 { 
  color: white; 
}

h2, em { 
  color: rgb(200, 200, 200); 
}

/* art */
.artwork {
  margin-top: 30px;
}

.artSection {
  max-width: 90vw;
}

/* signature */
.signatureDigital   {  color:                  rgba(255, 255, 255, 0.4); }
.signatureContainer { border: 2px dotted       rgba(255, 255, 255, 0.2); }
.signatureLegacy    { border-right: 2px dotted rgba(255, 255, 255, 0.2); }

.backButton::after {
  background-color: rgb(120, 120, 120);
  color: black;
}
.backButton::before {
  border-right-color: rgb(120, 120, 120);
}