/* animated gradient text */
.subHeader, a:hover:not(.blackButton) { /* exclude the blackButton links from the effect because that wasn't working good */
  background: linear-gradient(to right, #ff7a87 25%, #ffb477 35%, #ffb477 65%, #ff7a87 75%);
  background-size: 200% auto;

  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: animatedGradient 3s linear infinite;
}
@keyframes animatedGradient {
  to {
    background-position: -200% center;
  }
}

a:hover * { /* override the children so that only the text direclty in the <a> get the color animation */
  -webkit-text-fill-color: black;
}
a:hover .wip { /* override .wip so that the text stays white */
  -webkit-text-fill-color: white;
}

/* header */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0px;
}

header img {
  margin-right: 30px;
}

header h1 {
  margin-bottom: 0;
  margin-top: 0;
  letter-spacing: 8px;
  font-size: 40px;
}

.subHeader {
  font-size: 18px;
  font-style: italic;
  opacity: 0.7;
}

/* links */
a {
  font-size: 18px;
  display: block;

  margin: 0px;
  transition: all 0.3s ease-out;
}
a:hover {
  margin-left: 10px;
}
a::before {
  content: '- ';
  color: #ff7a87;
}

a small {
  font-size: 14px;
  margin-left: 25px;
  display: block; /* otherwise the margin-left was only on the first line */
  opacity: 0.3;
}

a img {
  width:  25px;
  height: 25px;
  margin-right: 10px;
}

/* WIP banner */
.wip {
  background-color: black;
  color: white;
  font-style: italic;
  font-size: 0.6em;
  ertical-align: middle;

  margin-left: 10px;
  padding-left:  8px;
  padding-right: 8px;
}

/******************/
/* external links */
/******************/

.socialMediaTitle {
  font-size: 11px;
  width: 60px;
  height: 30px;
  display: inline-block;
  text-align: right;
}

.externalLinks {
  display: inline;
}

/* design lines & text themselves */
.categoryTitle {
  /* border: 2px solid purple;  */
  display: inline-block;
  font-size: 10px;
  text-align: center;
  margin-top: 5px;
}
.designLines {
  /* border: 2px solid green;  */
  width: 50%;
  height: 5px;
  margin-top: 5px;
}
.left {
  float: right;
  border-left:   1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.right {
  float: left;
  border-right:  1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.middle {
  border-right:  1px solid rgba(0, 0, 0, 0.3);
}

/* design lines contiainers & setup */
.container  { 
  /* border: 2px solid blue;  */
  display: inline-flex;
  flex-direction: column;
  margin-top: 10px;
}
.category  { 
  /* border: 2px solid red;  */
  display: inline-flex;
  flex-direction: row;
}
.buttonAndGraphic { 
  /* border: 2px solid orange; */
  display: inline-block;
 }

/* the buttons itself */
.externalLinks a {
  display: inline-block;

  background-color: black;
  padding-left:  8px;
  padding-right: 8px;
  margin-left: 0px;

  color: white;
  font-size: 15px;

  transform: scale(0.9);
  transition: all 0.3s ease-out;
}
.externalLinks a:hover { 
  transform: scale(1);
  color: #ff7a87;
}
.externalLinks a::before { content: ''; }

/**********/
/* MOBILE */
/**********/

@media screen and (max-width: 600px) {

  /* header */
  header h1 { font-size: 30px; }
  .subHeader { font-size: 16px !important; }
  header img {
    width:  60px;
    height: 60px;
    margin-right: 25px;
  }
}

/*****************************/
/* MOBILE HEADER EXTRA SMALL */
/*****************************/
@media screen and (max-width: 430px) {

  /* header */
  header h1 {  font-size: 20px; }
  .subHeader { font-size: 12px !important; }
  header img {
    width:  40px;
    height: 40px;
    margin-right: 20px;
  }
}