/**************************/
/* animated gradient text */
/**************************/

.subHeaderEm, h2, a:hover:not(.blackButton), .residentArtist a:hover { /* exclude the blackButton links from the effect because that wasn't working good */
  background: linear-gradient(to right, #ff7a87 25%, #ffb477 35%, #ffb477 65%, #ff7a87 75%);
  background-size: 200% auto;

  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: animatedGradient 3s linear infinite;
}
@keyframes animatedGradient {
  to {
    background-position: -200% center;
  }
}

a:hover * { /* override the children so that only the text direclty in the <a> get the color animation */
  -webkit-text-fill-color: black;
}

/**************/
/* whole page */
/**************/

/* styling for the whole page, but only this page */
.homePage { 
  max-width: 950px;
}

/**********/
/* header */
/**********/

header h1, header img {
  margin-bottom: 20px;
}

/******************/
/* intro & avatar */
/******************/

.intro {
  display: flex;
  align-items: flex-start;
}

.introText {
  padding-top: 10px;
}

.avatar {
  margin-right: 50px;
  display: inline-block;
}

.subHeader {
  color:                   black;
  -webkit-text-fill-color: black;
  font-size: 16px;
}
.subHeaderEm {
  font-weight: bold;
  font-style: italic;
}

.avatarPlusLoadingScreen {
  width: 300px;
  height: 300px;
}

.residentArtist {
  margin-top: 30px;
}

.residentArtist a {
  display: inline;
  font-size: 16px;
  
  text-decoration: underline;
  text-decoration-color: rgba(255, 122, 135, 0.5);
  text-decoration-thickness: 3px;
}
.residentArtist a:hover {
  margin-left: 0px;

  text-decoration: underline;
  text-decoration-color: rgba(255, 122, 135, 0.5);
  text-decoration-thickness: 3px;
}
.residentArtist a::before {
  content: '';
  display: none;
}

.residentArtistSignature {
  font-size: 12px !important;
}

/* signature */
.signatureDigital   {  color:                  rgba(0, 0, 0, 0.2); }
.signatureContainer { border: 2px dotted       rgba(0, 0, 0, 0.1); }
.signatureLegacy    { border-right: 2px dotted rgba(0, 0, 0, 0.1); }

/*********/
/* links */
/*********/

a {
  font-size: 18px;
  display: block;

  margin: 0px;
  transition: all 0.3s ease-out;
}
a:hover {
  margin-left: 10px;
  text-decoration: none;
}
a::before {
  content: '- ';
  color: #ff7a87;
}

a small {
  font-size: 13px;
  margin-left: 25px;
  display: block; /* otherwise the margin-left was only on the first line */
  opacity: 0.3;
}

a img {
  width:  25px;
  height: 25px;
  margin-right: 10px;
}

/********/
/* TAGS */
/********/

.wip, .license, .tagLink {
  color: white;
  background-color: black;
  font-style: italic;
  font-size: 0.6em;
  font-weight: bold;
  vertical-align: middle;

  margin-left: 10px;
  padding-left:  8px;
  padding-right: 8px;
}

.wip {     
  background-color: black; 
}
a:hover .wip {     
  color: #ff7a87;
  -webkit-text-fill-color: #ff7a87;
}

.license { 
  background-color: #ff7a87;
  letter-spacing: 2px;
}

/*********************************/
/* external links at top of page */
/*********************************/

.socialMediaTitle {
  font-size: 11px;
  width: 60px;
  height: 30px;
  display: inline-block;
  text-align: right;
}

.externalLinks {
  display: inline;
}

/* design lines & text */
.categoryTitle {
  /* border: 2px solid purple; */
  display: inline-block;
  font-size: 10px;
  text-align: center;
  margin-top: 5px;
}
.designLines {
  /* border: 2px solid green; */
  width: 50%;
  height: 5px;
  margin-top: 5px;
}
.left {
  float: right;
  border-left:   1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.right {
  float: left;
  border-right:  1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.middle {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  width: 100%;
}
.middlePointer {
  background-color: rgba(0, 0, 0, 0.3);
  width: 1px;
  height: 5px;
}
.solo {
  border-right:  1px solid rgba(0, 0, 0, 0.3);
}

/* design lines category text padding to manualy center them */
.centerSocial     { padding-right: 20px; }
.centerDesign     { padding-right: 25px; }
.centerCode       { padding-right: 10px; }
.centerCryptoart  { padding-right: 0px; }
.centerArticles   { padding-right: 8px; }
.centerContact    { padding-right: 8px; }

/* design lines contiainers & setup */
.container  { 
  /* border: 2px solid blue;  */
  display: inline-flex;
  flex-direction: column;
  margin-top: 10px;
}
.category  { 
  /* border: 2px solid red;  */
  display: inline-flex;
  flex-direction: row;
  padding-right: 10px;
}
.buttonAndGraphic { 
  /* border: 2px solid orange; */
  display: inline-block;
 }

/* the buttons itself */
.externalLinks a {
  display: inline-block;

  background-color: black;
  padding-left:  8px;
  padding-right: 8px;
  margin-left: 0px;

  color: white;
  font-size: 15px;
  text-decoration: none;
  font-weight: bold;
  
  transform: scale(0.9);
  transition: all 0.3s ease-out;
}
.externalLinks a:hover { 
  transform: scale(1);
  color: #ff7a87;
}
.externalLinks a::before { content: ''; }

/*****************/
/* gallery cards */
/*****************/

.gallery a {
  display: block;
  position: relative;

  width: 240px;
  height: 300px;

  margin-right:  35px; 
  margin-bottom: 35px;

  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.3);
  border: 3px solid black;
  
  /* hover */
  transition: all 0.3s ease-out;
}
.gallery a::before {
 content: none;
}
.gallery a:hover {
  /*margin-left: 0px; /* normal <a> fixe */
  transform: scale(1.05);
  margin-left: 0px; /* counter the right sliding animation of the normal <a> tags */
  
  /* hover */
  transition: all 0.3s ease-out;
}
.gallery a:hover .galleryText {
  background-color: black;
  color: white;
  -webkit-text-fill-color: white;

  /* hover */
  transition: all 0.3s ease-out;
}

.galleryText {
  position: absolute;
  bottom: 0;
  
  height: 75px;
  width: 220px; /* .gallery a width - 2x padding */
  
  padding: 10px;
  background-color: white;
  color: black;
  font-size: 17px;
  
  border-top: 3px solid black
}

.galleryText small {
  font-size: 13px;
  opacity: 0.3;
  margin: 0px;
  padding-top: 5px;
}
.gallery a:hover .galleryText small {
  opacity: 0.7;
  color: white;
  -webkit-text-fill-color: white;
}

.galleryImg {
  width:  240px;
  height: 240px;
}