:root {
  --transitionDuration: 0.5s;
  --transitionEase: ease-out;
}

@font-face {
  font-family: spaceRegular;
  src: url(fonts/SpaceMono/SpaceMono-Regular.ttf);
}
@font-face {
  font-family: spaceBoldItalic;
  src: url(fonts/SpaceMono/SpaceMono-BoldItalic.ttf);
}

@font-face {
  font-family: brutal;
  src: url(fonts/leMurmureJuly2019/Le_Murmure-Regular_web.ttf);
}

body {
  margin: 0;
  padding: 30px;
  font-family: spaceRegular;
  letter-spacing: 1px;

  background-color: var(--color-background);
  color: var(--color-text);

  /* for .centerPage */
  display: flex;
  justify-content: center;
}

.centerPage {
  display: inline-block;
  margin: auto;
}

h1 {
  font-family: brutal;
  color: var(--color-em);
  font-size: 90px;
}

h2 {
  margin-top: 50px;
  font-style: italic;
  color: var(--color-em);
}

a {
  color: var(--color-em);
  text-decoration: none;

  transition: all 0.3s ease-out;
}
a:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

em {
  font-family: spaceBoldItalic;
}

mark {
  font-weight: bold;
  padding-left:  5px;
  padding-right: 5px;
}

section {
  margin-bottom: 50px;
}

video {
  margin-bottom: 30px;
  max-width: 100%;
}

.signature {
  margin-top: 40px;
}

/***********/
/* flexbox */
/***********/

.row {
  display: flex;
  flex-direction: row;
}
.row > * { /* give every direct child some spacing of the right */
  margin-right: 30px;
}

.column {
  display: flex;
  flex-direction: column;
}
.column > * { /* give every direct child some spacing of the bottom */
  margin-bottom: 30px;
}

/******************************/
/* stack multiple divs on top */
/******************************/

.stackTheLayersOuter { position: relative; }
.stackTheLayersInner { position: absolute; }

/*****************************/
/* back button on every page */
/*****************************/

.backButton {
  display: inline-block;

  border-right: 20px solid rgba(0, 0, 0, 0); /* invisible border to keep the mouse pointer hand active during the hover animation */

  margin-left: 0px;
  transition: all 0.3s ease-out;
}
.backButton:hover {
  margin-left: -10px;
}
.backButton::after {
  /* rectangle with text */
  content: 'BACK TO ALL PROJECTS';
  
  background-color: var(--color-em);
  color: white;
  font-size: 14px;
  
  padding-left:  8px;
  padding-right: 8px;
}

/*************************/
/* see on / avaliable on */
/*************************/

.avaliableOn .link {
  display: inline-block;
  font-size: 11px;
  border-radius: 3px;
  font-weight: bold;

  padding-left:  15px;
  padding-right: 15px;
  padding-top:    5px;
  padding-bottom: 5px;

  transform: scale(0.9);
  transition: all 0.3s ease-out;
}
.avaliableOn .link:hover {
  transform: scale(1);
  text-decoration: none;
}

.avaliableOn img {
  vertical-align: middle;
}

.avaliableOn .opensea  { background-color: rgba(27, 159, 218, 0.5); color: white; }
.avaliableOn .rarible  { background-color: rgba(253, 213, 12, 0.5); color: black; }
.avaliableOn .ethereum { background-color: rgb(226, 226, 252);      color: black; }
.avaliableOn .async    { background-color: rgb(98, 90, 255);        color: white; }

/**************************/
/* IMAGES & IMAGE GALLERY */ 
/**************************/

img {
  max-width: 100%;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.galleryImage {
  /* define size if images in custom .css per page (like hand-painted-cool-cats.css) */
}

/**********/
/* MOBILE */
/**********/

@media screen and (max-width: 750px) {

  h1 {
    font-size: 30px;
  }

  .row {
    display: flex;
    flex-direction: column;
  }
  .row > * { /* give every direct child some spacing of the right */
    margin-right: 0px;
  }

}

/*********************/
/* DARK & LIGHT MODE */
/*********************/

/* light mode */
:root {
  --color-background: white;
  --color-text: rgba(0, 0, 0, 0.5);
  --color-em: black; /* titles, links, ... */
}

/* dark made */
/*.dark-mode {
  --color-background: black;
  --color-text: rgba(255, 255, 255, 0.5);
  --color-em: white; /* titles, links, ... */
/*}

/* @media (prefers-color-scheme: dark) { /* if user switches the system settings to dark mode this media query will be applied */
/* } */
