body {
  background-color: black;
  color: #ff938580;
}

/* signature */
.signatureDigital   {  color:                  rgba(255, 147, 133, 0.4); }
.signatureContainer { border: 2px dotted       rgba(255, 147, 133, 0.2); }
.signatureLegacy    { border-right: 2px dotted rgba(255, 147, 133, 0.2); }

a, a:hover { 
  text-decoration-color: #ff938580; 
}
a {
  background-color: rgba(255, 147, 133, 0.2);
}

h1 {
  color: white;
}

h2, em {
  color:rgb(255, 147, 133);
}

em {
  font-weight: bold;
}

.backButton::after {
  background-color: rgb(255, 147, 133);
  color: black;
}
.backButton::before {
  border-right-color: rgb(255, 147, 133);
}

.artwork {
  width: 1920px;
}
