h1, em { 
  color:rgb(253, 170, 227);
}

a, a:hover { 
  text-decoration-color: rgb(253, 170, 227);
}
a {
  background-color: rgba(253, 170, 227, 0.2);
}

/* signature */
.signatureDigital   {  color:                  rgba(253, 170, 227, 0.5); }
.signatureContainer { border: 2px dotted       rgba(253, 170, 227, 0.3); }
.signatureLegacy    { border-right: 2px dotted rgba(253, 170, 227, 0.3); }

.galleryImage {
  width:  250px;
  height: 250px;
}

.willWorkForImage {
  width: 382px;
  height: 580px;
}

.exampleImage {
  width:  240px;
  height: 240px;
}

small {
  font-size: 0.5em;
  opacity: 0.5;
}

/**********/
/* MOBILE */
/**********/

@media screen and (max-width: 1010px) {
  .exampleImage {
    width:  45%;
    height: 45%;
  }
}

@media screen and (max-width: 580px) {
  .galleryImage {
    width:  50%;
    height: 50%;
  }
}
