body, h2 {
  background-color: rgb(0, 0, 0);
  color: rgba(219, 198, 164, 1);
}

h1 {
  color: #dcc6a4;
}

h2, em { 
  color: white; 
}

a, a:hover { 
  text-decoration-color: #dcc6a4;
}
a {
  color: white;
  background-color: rgba(219, 198, 164, 0.3);
}

.backButton::after {
  background-color: rgba(219, 198, 164, 0.5);
  color: black;
}
.backButton::before {
  border-right-color: rgba(219, 198, 164, 0.5);
}

.introImage {
  width: 500px;
  max-width: 100%;
}

.artwork {
  width: 500px;
  max-width: 100%;
}