h1, em { 
  color:#8D4368; 
}

a, a:hover { 
  text-decoration-color: rgb(142, 67, 105);
}
a {
  background-color: rgba(141, 67, 104, 0.2);
}

/* signature */
.signatureDigital   {  color:                  rgba(142, 67, 105, 0.4); }
.signatureContainer { border: 2px dotted       rgba(142, 67, 105, 0.2); }
.signatureLegacy    { border-right: 2px dotted rgba(142, 67, 105, 0.2); }


.textBlock {
  max-width: 100%;
}
