body, h2 {
  background-color: #0f1b33;
  color: #94a7cb
}

h1, h2 {
  color: rgb(253, 109, 134);
}

em { 
  color: white; 
}

a, a:hover { 
  text-decoration-color: rgb(253, 109, 134);
}
a {
  color: rgb(253, 109, 134);
  background-color: rgba(248, 167, 203, 0.3);
}

/* signature */
.signatureDigital   {  color:                  rgba(253, 109, 134, 0.4); }
.signatureContainer { border: 2px dotted       rgba(253, 109, 134, 0.2); }
.signatureLegacy    { border-right: 2px dotted rgba(253, 109, 134, 0.2); }


.backButton::after {
  background-color: #5e5c9a;
  color: black;
}
.backButton::before {
  border-right-color: #5e5c9a;
}

.goodboi {
  width: 800px;
  max-width: 100%;
}

.galleryImage {
  width:  400px;
  max-width: 400px;
}