body, h2 {
  background-color: #1c1e3a;
  color: rgb(255, 255, 255, 0.7);
}

h1, em {
  color: rgb(40, 249, 181);
}

h2{ 
  color: white; 
}

a, a:hover { 
  text-decoration-color: rgb(40, 249, 181);
}
a {
  color: white;
  background-color: #2b4a52;
}

.subtleText{
  opacity: 0.7;
  font-size: 0.9em;
  padding-left: 20px;
}

/* signature */
.signatureDigital   {  color:                  rgba(40, 249, 181, 0.4); }
.signatureContainer { border: 2px dotted       rgba(40, 249, 181, 0.2); }
.signatureLegacy    { border-right: 2px dotted rgba(40, 249, 181, 0.2); }


.backButton::after {
  background-color: #2b4a52;
  color: #28f9b5;
}
.backButton::before {
  border-right-color: #2b4a52;
}

.artwork {
  width: 320px;
}