body {
  background-color: rgb(0, 0, 0);
}

h1, h2, em { 
  color:rgb(255, 255, 255);
}

.wallpapers img {
  display: block;
  transform: scale(0.96);
  transition: all 0.3s ease-out;
  border-radius: 10px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 100px rgba(255, 255, 255, 0);
  margin-bottom: 100px;
}
.wallpapers img:hover { 
  transform: scale(1);
  border: 5px solid rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 150px rgba(255, 255, 255, 0.3);
}

.backButton::after {
  background-color: rgb(255, 255, 255);
  color: black;
}
.backButton::before {
  border-right-color: rgb(255, 255, 255);
}

/* signature */
.signatureDigital   { color:                   rgba(255, 255, 255, 0.5); }
.signatureContainer { border: 2px dotted       rgba(255, 255, 255, 0.3); }
.signatureLegacy    { border-right: 2px dotted rgba(255, 255, 255, 0.3); }

/*********************/
/* wallpaper gallery */
/*********************/

.wallpaper img {
  width: 1280px;
  max-width: 100%;
}